---
interface CardProps {
  player: IndusPlayer;
}

const { player } = Astro.props as CardProps;
const ifFirst = player.position === 1;
---

<div class="bg-gray-800 p-4 rounded-lg shadow">
  <div class="relative">
    {ifFirst && (
      <span class="absolute -top-2 -right-2 bg-yellow-400 text-xs font-bold px-2 py-1 rounded-full shadow-sm">1st</span>
    )}
  </div>
  <div class="flex items-center space-x-3 mb-3">
    <img
      src={player.team.manager.avatar}
      alt={`${player.team.manager.managerName} avatar`}
      class="w-10 h-10 rounded-full"
    />
    <div class="font-bold">{player.team.manager.managerName}</div>
  </div>
  <div class="grid grid-cols-2 gap-2 text-sm">
    <div>Position: <span class="font-semibold">{player.position}</span></div>
    <div>
      IndusPoints: <span class="font-semibold text-purple-400">{player.indusPoints}</span>
    </div>
    <div>Points: <span class="font-semibold">{player.points}</span></div>
    <div>
      Team Points: <span class="font-semibold text-purple-400">{player.team.teamPoints}</span>
    </div>
    <div class="col-span-2">
      Team Value: <span class="font-semibold text-green-400">${player.team.teamValue.toLocaleString()}</span>
    </div>
  </div>
</div>
