---
import type { IndusPlayer } from "../../types/api";

interface RowProps {
  player: IndusPlayer;
}

const { player } = Astro.props;
---

<tr class="border-b border-gray-700">
  <td class="p-3 flex items-center gap-4">
    <img
      class="w-8 h-8 rounded-full bg-gray-700"
      src={player.team.manager.avatar}
      alt={`${player.team.manager.managerName} avatar`}
    />
    <div>
      <span class="text-lg font-medium text-gray-200">
        {player.team.manager.managerName}
      </span>
      <p class="text-xs text-gray-400">{player.team.teamName}</p>
    </div>
  </td>
  <td class="p-3 text-purple-400">{player.indusPoints}</td>
  <td class="p-3">{player.position}</td>
  <td class="p-3">{player.points}</td>
  <td class="p-3">{player.team.teamPoints}</td>
  <td class="p-3 text-green-400">${player.team.teamValue.toLocaleString()}</td>
</tr>
